*.db
*.tlog
*.user
*.obj
*.txt
*.pdb
Template/StructExample.asm
Template/Release/Project.vcxproj.FileListAbsolute.txt
Template/Release/Project.tlog/unsuccessfulbuild
Template/Release/Project.tlog/Project.lastbuildstate
Template/Release/Project.tlog/Masm.write.1u.tlog
Template/Release/Project.tlog/Masm.read.1u.tlog
Template/Release/Project.tlog/link.write.1.tlog
Template/Release/Project.tlog/link.read.1.tlog
Template/Release/Project.tlog/link.command.1.tlog
Template/Release/Project.tlog/link-rc.write.1.tlog
Template/Release/Project.tlog/link-rc.read.1.tlog
Template/Release/Project.tlog/link-cvtres.write.1.tlog
Template/Release/Project.tlog/link-cvtres.read.1.tlog
Template/Release/Project.pdb
Template/Release/Project.log
Template/Release/Project.Build.CppClean.log
Template/Release/AddSub2.obj
Template/Project.vcxproj.user
Template/Project.vcxproj
Template/Project.v12.suo
Template/Project.sln
Template/Project.sdf
Template/Project.lst
Template/Debug/template.obj
Template/Debug/Project.vcxproj.FileListAbsolute.txt
Template/Debug/Project.tlog/Project.lastbuildstate
Template/Debug/Project.tlog/Masm.write.1u.tlog
Template/Debug/Project.tlog/Masm.read.1u.tlog
Template/Debug/Project.tlog/link.write.1.tlog
Template/Debug/Project.tlog/link.read.1.tlog
Template/Debug/Project.tlog/link.delete.1.tlog
Template/Debug/Project.tlog/link.command.1.tlog
Template/Debug/Project.pdb
Template/Debug/Project.log
Template/Debug/Project.ilk
Template/Debug/Project.exe
Template/Debug/Project.Build.CppClean.log
Template/Debug/AddSub2.obj
Template/.vs/VSWorkspaceState.json
Template/.vs/slnx.sqlite
Template/.vs/ProjectSettings.json
Template/.vs/Project32_VS2019/v16/.suo
Template/.vs/Project/v16/.suo
Template/.vs/Project/v15/.suo
Template/.vs/Project/v14/.suo
Demo1/StructExample.asm
Demo1/Release/Project.vcxproj.FileListAbsolute.txt
Demo1/Release/Project.tlog/unsuccessfulbuild
Demo1/Release/Project.tlog/Project.lastbuildstate
Demo1/Release/Project.tlog/Masm.write.1u.tlog
Demo1/Release/Project.tlog/Masm.read.1u.tlog
Demo1/Release/Project.tlog/link.write.1.tlog
Demo1/Release/Project.tlog/link.read.1.tlog
Demo1/Release/Project.tlog/link.command.1.tlog
Demo1/Release/Project.tlog/link-rc.write.1.tlog
Demo1/Release/Project.tlog/link-rc.read.1.tlog
Demo1/Release/Project.tlog/link-cvtres.write.1.tlog
Demo1/Release/Project.tlog/link-cvtres.read.1.tlog
Demo1/Release/Project.pdb
Demo1/Release/Project.log
Demo1/Release/Project.Build.CppClean.log
Demo1/Release/AddSub2.obj
Demo1/Project.vcxproj.user
Demo1/Project.vcxproj
Demo1/Project.v12.suo
Demo1/Project.sln
Demo1/Project.sdf
Demo1/Project.lst
Demo1/Debug/Project.vcxproj.FileListAbsolute.txt
Demo1/Debug/Project.tlog/Project.lastbuildstate
Demo1/Debug/Project.tlog/Masm.write.1u.tlog
Demo1/Debug/Project.tlog/Masm.read.1u.tlog
Demo1/Debug/Project.tlog/link.write.1.tlog
Demo1/Debug/Project.tlog/link.read.1.tlog
Demo1/Debug/Project.tlog/link.command.1.tlog
Demo1/Debug/Project.pdb
Demo1/Debug/Project.log
Demo1/Debug/Project.exe
Demo1/Debug/Project.Build.CppClean.log
Demo1/Debug/DogYears.obj
Demo1/.vs/VSWorkspaceState.json
Demo1/.vs/slnx.sqlite
Demo1/.vs/ProjectSettings.json
Demo1/.vs/Project32_VS2019/v16/.suo
Demo1/.vs/Project/v16/Browse.VC.opendb
Demo1/.vs/Project/v16/.suo
Demo1/.vs/Project/v15/.suo
Demo1/.vs/Project/v14/.suo
/Program1/.vs/Project/v16/Browse.VC.opendb
Program1/.vs/Project/v16/.suo
Program1/Debug/Project.exe
Program1/Debug/Project.ilk
Program1/Debug/Project.log
Program1/Project.lst
Program1/Project.vcxproj
Demo1/.vs/Project/v16/Browse.VC.db
Program1/Debug/Project.exe
Program1/.vs/Project/v16/.suo
Program1/Project.lst
Program1/.vs/Project/v16/.suo
Program2/.vs/Project/v16/.suo
Program2/.vs/Project/v16/Browse.VC.opendb
Program1/.vs/Project/v16/.suo
Program2/Debug/Project.exe
Program2/Debug/Project.log
Program2/Project.lst
Program2/Project.sdf
Program2/Project.sln
Program2/Project.v12.suo
Program2/Project.vcxproj
Program2/StructExample.asm
Program1/.vs/Project/v16/.suo
Program3/.vs/Project/v16/.suo
Program3/.vs/Project/v16/Browse.VC.opendb
Program3/Debug/Project.exe
Program3/Debug/Project.log
Program3/Project.lst
Program3/Project.sdf
Program3/Project.sln
Program3/Project.v12.suo
Program3/Project.vcxproj
Program3/StructExample.asm
*.exe
*.log
*.opendb
Program4/.vs/Project/v16/.suo
Program4/Project.vcxproj
Program4/Project.v12.suo
Program4/Project.sln
Program4/Project.sdf
Program4/Project.lst
Program4/StructExample.asm
